imin.xcodeproj/xcuserdata/Jamie.xcuserdatad/xcschemes/imin.xcscheme
imin.xcodeproj/xcuserdata/Jamie.xcuserdatad/xcschemes/xcschememanagement.plist
imin.xcworkspace/xcshareddata/imin.xccheckout
imin.xcworkspace/xcuserdata/Jamie.xcuserdatad/UserInterfaceState.xcuserstate
